In [2]:
# encoding: UTF-8

"""
用于vn.trader的运行目录环境设置
"""

import os
import sys

# 将根目录路径添加到环境变量中
ROOT_PATH = os.path.abspath(os.path.dirname(__file__))

print ROOT_PATH
print sys.path

NameError: name '__file__' is not defined

In [22]:
l = range(10,20)
numDict = dict(enumerate(l))
numList = list(enumerate(l))
a = range(20)
for i in a:
    print i
    a.remove(i+1)
a = 1234
print type(a)
print type(str(a))

0
2
4
6
8
10
12
14
16
18
<type 'int'>
<type 'str'>

In [1]:
import math
print math.pi
print math.exp(1)

3.14159265359
2.71828182846

In [1]:
import time
nowTime = time.localtime(time.time())
nowYear = time.strftime('%y' ,nowTime)
nowMonth = time.strftime('%m' ,nowTime)
nowDay = time.strftime('%d' ,nowTime)
print nowYear
print nowMonth
print nowDay
print 'm1703'[3:5]

16
12
16
03

In [8]:
import math
timePeriod = 20.235123412341234123
timePeriod = round(timePeriod ,2)
print timePeriod
print float(111)

20.24
111.0

In [1]:
import math
print 588+2700*math.exp(-0.02*0.33)-337-2924

9.23867683998

In [159]:
import numpy as np
import pandas as pd
columns_ = ['askPrice1', 'bidPrice1', 'askVolume1', 'bidVolume1', \
        #'strikePrice', 'time', \
        'lastPrice', 'lastVolume', 'volume', 'openInterest', 'vtSymbol', \
        'time', 'date', 'openPrice', 'highPrice',  'lowPrice', \
        'upperLimit', 'lowerLimit']
allDataFrame = pd.DataFrame(index=columns_)
#print allDataFrame
s = pd.Series(data={'symbol1':[1,2,4,5], 'symbol2':[9,8,7,6]})
print s
tick = {'askPrice1': 300, 'bidPrice1': 299, 'bidVolume1':30, 'askVolume1':40, 'vtSymbol': 'm1703-C-3000'}

s = pd.Series(data='')
df1 = pd.DataFrame(data=tick, )
#df1 = pd.DataFrame(data={'symbol1':1234, 'symbol2':9876}, index = '123')
#print df1

#allDataFrame.loc['askPrice1'] = pd.DataFrame({'symbol1':1234, 'symbol2':9876},ignore_index=True)

symbol1    [1, 2, 4, 5]
symbol2    [9, 8, 7, 6]
dtype: object

In [160]:
# encoding:utf-8
# 主要的测试
import numpy as np
import pandas as pd
s = pd.Series([1,3,5,np.nan,6,8])
print s
dates = pd.date_range('20130101', periods=6)
print dates

# Creating a dataframe by passing a numpy array.
df = pd.DataFrame(data=np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print df

# Creating a dataframe by passing a dict of objects that can be converted into series-liked.
df2 = pd.DataFrame(data={'A': 1, 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index = range(4), dtype='float32'), \
                        'D':np.array([3]*4, dtype='int32'), 'E':pd.Categorical(["test","train","test","train"]), 'F':'foo'})
#print df2
#print df2.dtypes
#print df.index
#print df.columns
#print df.values
#print df.sort_index(axis=0, ascending=False)
#print(df.sort_values(by='B', ascending=False))

print('************************************************** Getting ***********************************************')
print("df['A']: \n %r" % df['A'])
print("type(df['A']: \n %r" % type(df['A']))
print('#########################################')
print("df[0:1]: \n %r" % df[0:1])
print("type(df[0:1]: \n %r" % type(df[0:1]))
print('#########################################')
print(df['20130102':'20130104'])

print('**************************************** Selection by label ***********************************************')
print(df.loc[dates[0], 'A'])
print(df.at[dates[0], 'A'])
print(df.loc[:, ['A', 'B']])

print('**************************************** Selection by Position ***********************************************')
print("df.iloc[3]: \n %r" % df.iloc[3])
print("type(df.iloc[3]: \n %r" % type(df.iloc[3]))
print('#########################################')
print("df.iloc[3:5, 0:2]: \n %r" % df.iloc[3:5, 0:2])
print("type(df.iloc[3:5, 0:2]: \n %r" % type(df.iloc[3:5, 0:2]))
print('#########################################')
print("df.iloc[[1,2,4],[0,2]]: \n %r" % df.iloc[[1,2,4],[0,2]])
print('#########################################')
print(df.iloc[0,0])
print(df.iat[0,0])

print('******************************************** Boolean Selection ***********************************************')
print('Using a single column’s values to select data.')
print('type(df[df.A>0]): \n %r' % type(df[df.A>0]))
print('A where operation for getting.')
print('type(df[df>0]): \n %r' % type(df[df>0]))

print('Using the isin() method for ﬁltering:')
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
print(df2[df2['E'].isin(['one', 'three'])])

print('****************************************************** Setting ***********************************************')
s1 = pd.Series(data=range(6), index=pd.date_range('20130102', periods=6))
df['F'] = s1
df.at['20130101', 'F'] = 1.1111
df.loc['20130101', 'F'] = 1.0000
df.iloc[0,4] = 1.2222
df.iat[0,4] = 1.9999
df.loc[:, 'D'] = np.array([5]*len(df))
df2 = df.copy()
df2[df2>0] = -df2
print df
print df2

print('****************************************************** Missing Data ***********************************************')

df1 = df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])
print df1
print(df1.isin([5]))

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.294289 -0.365922 -0.116185 -1.775101
2013-01-02  1.627760 -0.144532 -0.273044 -0.217449
2013-01-03 -1.205581  1.563060  2.249036  0.558126
2013-01-04  1.422422  1.091304  0.393592  1.380326
2013-01-05 -0.309317  0.269822 -1.131651 -0.983586
2013-01-06  0.614607  0.177528 -0.500550 -1.162901
************************************************** Getting ***********************************************
df['A']:
 2013-01-01    0.294289
2013-01-02    1.627760
2013-01-03   -1.205581
2013-01-04    1.422422
2013-01-05   -0.309317
2013-01-06    0.614607
Freq: D, Name: A, dtype: float64
type(df['A']:
 <class 'pandas.core.series.Series'>
#########################################
df[0:1]:
                    A         B         C         D
2013-01-01  0.294289 -0.365922 -0.116185 -1.775101
type(df[0:1]:
 <class 'pandas.core.frame.DataFrame'>
#########################################
                   A         B         C         D
2013-01-02  1.627760 -0.144532 -0.273044 -0.217449
2013-01-03 -1.205581  1.563060  2.249036  0.558126
2013-01-04  1.422422  1.091304  0.393592  1.380326
**************************************** Selection by label ***********************************************
0.294289496715
0.294289496715
                   A         B
2013-01-01  0.294289 -0.365922
2013-01-02  1.627760 -0.144532
2013-01-03 -1.205581  1.563060
2013-01-04  1.422422  1.091304
2013-01-05 -0.309317  0.269822
2013-01-06  0.614607  0.177528
**************************************** Selection by Position ***********************************************
df.iloc[3]:
 A    1.422422
B    1.091304
C    0.393592
D    1.380326
Name: 2013-01-04 00:00:00, dtype: float64
type(df.iloc[3]:
 <class 'pandas.core.series.Series'>
#########################################
df.iloc[3:5, 0:2]:
                    A         B
2013-01-04  1.422422  1.091304
2013-01-05 -0.309317  0.269822
type(df.iloc[3:5, 0:2]:
 <class 'pandas.core.frame.DataFrame'>
#########################################
df.iloc[[1,2,4],[0,2]]:
                    A         C
2013-01-02  1.627760 -0.273044
2013-01-03 -1.205581  2.249036
2013-01-05 -0.309317 -1.131651
#########################################
0.294289496715
0.294289496715
******************************************** Boolean Selection ***********************************************
Using a single column’s values to select data.
type(df[df.A>0]):
 <class 'pandas.core.frame.DataFrame'>
A where operation for getting.
type(df[df>0]):
 <class 'pandas.core.frame.DataFrame'>
Using the isin() method for ﬁltering:
                   A         B         C         D      E
2013-01-01  0.294289 -0.365922 -0.116185 -1.775101    one
2013-01-02  1.627760 -0.144532 -0.273044 -0.217449    one
2013-01-04  1.422422  1.091304  0.393592  1.380326  three
2013-01-06  0.614607  0.177528 -0.500550 -1.162901  three
****************************************************** Setting ***********************************************
                   A         B         C  D       F
2013-01-01  0.294289 -0.365922 -0.116185  5  1.9999
2013-01-02  1.627760 -0.144532 -0.273044  5  0.0000
2013-01-03 -1.205581  1.563060  2.249036  5  1.0000
2013-01-04  1.422422  1.091304  0.393592  5  2.0000
2013-01-05 -0.309317  0.269822 -1.131651  5  3.0000
2013-01-06  0.614607  0.177528 -0.500550  5  4.0000
                   A         B         C  D       F
2013-01-01 -0.294289 -0.365922 -0.116185 -5 -1.9999
2013-01-02 -1.627760 -0.144532 -0.273044 -5  0.0000
2013-01-03 -1.205581 -1.563060 -2.249036 -5 -1.0000
2013-01-04 -1.422422 -1.091304 -0.393592 -5 -2.0000
2013-01-05 -0.309317 -0.269822 -1.131651 -5 -3.0000
2013-01-06 -0.614607 -0.177528 -0.500550 -5 -4.0000
****************************************************** Missing Data ***********************************************
                   A         B         C  D       F   E
2013-01-01  0.294289 -0.365922 -0.116185  5  1.9999 NaN
2013-01-02  1.627760 -0.144532 -0.273044  5  0.0000 NaN
2013-01-03 -1.205581  1.563060  2.249036  5  1.0000 NaN
2013-01-04  1.422422  1.091304  0.393592  5  2.0000 NaN
                A      B      C     D      F      E
2013-01-01  False  False  False  True  False  False
2013-01-02  False  False  False  True  False  False
2013-01-03  False  False  False  True  False  False
2013-01-04  False  False  False  True  False  False

In [161]:
print('************************************************ Operation!!!!!!!!!!!!********************************************')
s = pd.Series(data=[1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
print s
print(df.sub(s, axis='index'))
print(df.apply(np.cumsum))
print(df.apply(lambda x: x.max()-x.min(), axis=1))
s = pd.Series(data=np.random.randint(4,7,size=10))
print s.value_counts()

print('****************************************************** Merge ***********************************************')
print('concat')
df = pd.DataFrame(data=np.random.randn(10, 4))
pieces = [df[:3], df[3:7], df[7:10]]
df = pd.concat(pieces)
print df
left = pd.DataFrame({'keys': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'keys': ['foo', 'foo'], 'rval': [4, 5]})
print left, '\n', right
pd.merge(left, right, on='keys')

************************************************ Operation!!!!!!!!!!!!********************************************
2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64
                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -2.205581  0.563060  1.249036  4.0  0.0
2013-01-04 -1.577578 -1.908696 -2.606408  2.0 -1.0
2013-01-05 -5.309317 -4.730178 -6.131651  0.0 -2.0
2013-01-06       NaN       NaN       NaN  NaN  NaN
                   A         B         C   D        F
2013-01-01  0.294289 -0.365922 -0.116185   5   1.9999
2013-01-02  1.922049 -0.510454 -0.389229  10   1.9999
2013-01-03  0.716468  1.052606  1.859807  15   2.9999
2013-01-04  2.138890  2.143910  2.253399  20   4.9999
2013-01-05  1.829573  2.413733  1.121748  25   7.9999
2013-01-06  2.444179  2.591261  0.621199  30  11.9999
2013-01-01    5.365922
2013-01-02    5.273044
2013-01-03    6.205581
2013-01-04    4.606408
2013-01-05    6.131651
2013-01-06    5.500550
Freq: D, dtype: float64
6    4
5    3
4    3
dtype: int64
****************************************************** Merge ***********************************************
concat
          0         1         2         3
0  0.635587 -0.662323  0.168448 -0.963595
1 -0.818128  0.795982 -1.179406  0.409987
2  0.785867 -0.141752  0.363178 -0.004069
3 -0.914919 -1.382858  0.146045  0.180721
4  0.548244  0.948924 -0.537057  0.321940
5 -1.065620  0.752228  0.558482 -1.292879
6 -0.791682  0.214746  0.732853  2.218810
7 -0.123868  0.522746  1.115546  0.165656
8 -0.399897  0.127993 -2.213388  1.273576
9 -0.223959 -0.969865 -0.214856 -0.354824
  keys  lval
0  foo     1
1  foo     2
  keys  rval
0  foo     4
1  foo     5

  keys  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [180]:
import numpy as np
import pandas as pd
columns = ['askPrice1', 'bidPrice1', 'askVolume1', 'bidVolume1', \
		'strikePrice', 'term', 'vtType'\
		'lastPrice', 'lastVolume', 'volume', 'openInterest', 'vtSymbol', \
		'time', 'date', 'openPrice', 'highPrice',  'lowPrice', \
		'upperLimit', 'lowerLimit']
vtSymbol = ["m1703-C-2450", 
            "m1708-C-2850", 
            "m1708-C-2700", 
            "m1708-C-2750", 
            "m1708-P-3050"]
allDataFrame = pd.DataFrame(columns=columns, index=vtSymbol)
#print allDataFrame
allDataFrame.loc["m1703-C-2450", 'askPrice1'] = 111
print allDataFrame

             askPrice1 bidPrice1 askVolume1 bidVolume1 strikePrice term  \
m1703-C-2450       111       NaN        NaN        NaN         NaN  NaN
m1708-C-2850       NaN       NaN        NaN        NaN         NaN  NaN
m1708-C-2700       NaN       NaN        NaN        NaN         NaN  NaN
m1708-C-2750       NaN       NaN        NaN        NaN         NaN  NaN
m1708-P-3050       NaN       NaN        NaN        NaN         NaN  NaN

             vtTypelastPrice lastVolume volume openInterest vtSymbol time  \
m1703-C-2450             NaN        NaN    NaN          NaN      NaN  NaN
m1708-C-2850             NaN        NaN    NaN          NaN      NaN  NaN
m1708-C-2700             NaN        NaN    NaN          NaN      NaN  NaN
m1708-C-2750             NaN        NaN    NaN          NaN      NaN  NaN
m1708-P-3050             NaN        NaN    NaN          NaN      NaN  NaN

             date openPrice highPrice lowPrice upperLimit lowerLimit
m1703-C-2450  NaN       NaN       NaN      NaN        NaN        NaN
m1708-C-2850  NaN       NaN       NaN      NaN        NaN        NaN
m1708-C-2700  NaN       NaN       NaN      NaN        NaN        NaN
m1708-C-2750  NaN       NaN       NaN      NaN        NaN        NaN
m1708-P-3050  NaN       NaN       NaN      NaN        NaN        NaN

In [20]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'vtType' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)}, \
                   index = ['m1703-C-3000', 'm1704-C-3000', 'm1705', 'm1703-C-2000', \
                            'm1703', 'm1704', 'm1703-P-3000', 'm1703-C-3150'])
df2 = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'vtType' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)}, \
                   index = ['m1703-F-3000', 'm1704-F-3000', 'm1705', 'm1703-F-2000', \
                            'm1703', 'm1704', 'm1703-F-3000', 'm1703-F-3150'])


#print(df2)
#print(df.loc[:, 'C'] + df2.loc[:, 'D'])
s1 = 'm1703-C-3000'
s2 = 'm1703'
#df.loc[s1, :] = df.loc[s1[0:5], :]
resultFrame = pd.DataFrame(columns=['space'], index=sorted(df.index))
#print resultFrame
#print(df)
#print(df2)
resultFrame.loc[:, 'space'] = df.loc[:, 'C'].values - df2.loc[:, 'D'].values + 10 + np.nan/np.nan
#print(resultFrame)

print df.columns.values
print abs(np.nan - 1)

['A' 'C' 'D' 'vtType']
nan